@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24.6 95% 53.1%;
    --radius: 1.2rem;

    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 94%;
    --sidebar-accent-foreground: 222.2 84% 4.9%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 224 13% 11%;
    --foreground: 210 40% 98%;
    --card: 224 13% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 13% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 13% 22%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 24.6 95% 53.1%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 224 13% 25%;
    --input: 224 13% 22%;
    --ring: 24.6 95% 53.1%;
    --radius: 1.2rem;
    
    --sidebar-background: 224 13% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 224 13% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 224 13% 25%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .glass-card {
    @apply bg-card border-transparent shadow-md;
  }
  .dark .glass-card {
    @apply bg-card border-transparent shadow-lg shadow-black/20;
  }
}
