@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 96%;
    --foreground: 200 15% 25%;
    --card: 48 33% 99%;
    --card-foreground: 200 15% 25%;
    --popover: 48 33% 99%;
    --popover-foreground: 200 15% 25%;
    --primary: 195 40% 42%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 40% 62%;
    --secondary-foreground: 200 15% 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 190 40% 62%;
    --accent-foreground: 200 15% 25%;
    --destructive: 6 77% 65%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 15% 88%;
    --input: 200 15% 92%;
    --ring: 195 40% 42%;
    --radius: 1.2rem;

    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 94%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 224 13% 11%;
    --foreground: 210 40% 98%;
    --card: 224 13% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 40% 42%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 40% 62%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 13% 22%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 190 40% 62%;
    --accent-foreground: 210 40% 98%;
    --destructive: 6 77% 65%;
    --destructive-foreground: 210 40% 98%;
    --border: 224 13% 25%;
    --input: 224 13% 22%;
    --ring: 195 40% 42%;
    --radius: 1.2rem;
    
    --sidebar-background: 224 13% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 224 13% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 224 13% 25%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .glass-card {
    @apply bg-card/60 backdrop-blur-xl border-card/50 shadow-lg shadow-black/5;
  }

  .dark .glass-card {
    @apply bg-card/60 backdrop-blur-xl border-card/50 shadow-lg shadow-black/20;
  }
}
